# {{organization}} - {{project}}

[![Build Status](https://travis-ci.org/{{composer.vendor}}/{{composer.name}}.svg?branch=develop)](https://travis-ci.org/{{composer.vendor}}/{{composer.name}})
[![Code Climate](https://codeclimate.com/github/{{composer.vendor}}/{{composer.name}}/badges/gpa.svg)](https://codeclimate.com/github/{{composer.vendor}}/{{composer.name}})
[![Test Coverage](https://codeclimate.com/github/{{composer.vendor}}/{{composer.name}}/badges/coverage.svg)](https://codeclimate.com/github/{{composer.vendor}}/{{composer.name}}/coverage)
[![Latest Stable Version](https://poser.pugx.org/{{composer.vendor}}/{{composer.name}}/version)](https://packagist.org/packages/{{composer.vendor}}/{{composer.name}})
[![Latest Unstable Version](https://poser.pugx.org/{{composer.vendor}}/{{composer.name}}/v/unstable)](https://packagist.org/packages/{{composer.vendor}}/{{composer.name}})
[![This package complies with Dhii standards](https://img.shields.io/badge/Dhii-Compliant-green.svg?style=flat-square)][Dhii]

{{composer.desc}}

[Dhii]: https://github.com/Dhii/dhii
